<div class="blog-header">
  <div class="container">
    <h1 class="blog-title">Rastlyn's Blog</h1>
    <p class="lead blog-description">Gabriele Baldocci's personal blog.</p>
    <%= link_to 'Write a New Blog Post', new_blog_path if is_admin? %>
  </div>
</div>