<h1>Get in touch!</h1>

<hr>

<div class="row">
  <div class="col-md-6">
    <h3>Office Address</h3>

    <p>16 Hutchings Close, Loughton, Milton Keynes, Bucks, MK5 8DS</p>

    <h3>Phone</h3>

    <p>07710 617106</p>

    <h3>Email</h3>

    <p><a href="mailto:gabrielebaldocci@gabrielebaldocci.com?subject=PortfolioContact" "email me">Email Me</a></p>
  </div>

  <div class="md-col-6">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2454.6495308815815!2d-0.790043384210698!3d52.03148207972473!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48770010dcd747f1%3A0xb58cfac850d1a419!2s16+Hutchings+Cl%2C+Loughton%2C+Milton+Keynes+MK5+8DS!5e0!3m2!1sen!2suk!4v1506765493834" width="300" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>
