<div class="inner cover">
  <h1 class="cover-heading">The Quintessence of Programming.</h1>
  <p class="lead">Programming is an art, even more so when it comes from an artist. Welcome to Gabriele Baldocci's webpage, where music and programming meet!</p>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>





